*{
    font-family: "Inter", sans-serif;
}
/* --------------header----------------- */
.whatsappbtn{
    border: 1px solid #27AE60;
    padding: 7px 18px;
    color: #27AE60;
}
.whatsappbtn i{
    color: #27AE60;
}
.whatsappbtn:hover{
    border: 1px solid #27AE60;
    color: #27AE60;
}

.call{
    background: linear-gradient(to right,#0ACEFE,#2699FB);
    color: #fff;
    padding: 7px 18px;
}

/* ---------------banner------------- */
.bannerContent h1{
    font-size: 40px;
    font-weight: bold;
}
.bannerContent h1 span{
    color: #2699FB;
}
.bannerContent p{
    font-size: 20px;
}
.bannerContent ul{
    list-style: none;
}
.bannerContent ul li{
    font-size: 18px;

}
.bannerContent ul li i{
    color: #2699FB;
}
.bannerContentBtn button{
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
}
.bannerContentBtn button:first-child{
    background: linear-gradient(to right,#0ACEFE,#2699FB);
    color: #fff;
}
.bannerForm{
    padding: 40px;
    border-radius: 5px;

}
.bannerForm h3{
    font-size: 18px;
    font-weight: 700;
}
.bannerForm button{
    width: 100%;
    padding: 10px 0px;
    background: linear-gradient(to right,#0ACEFE,#2699FB);
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* -------------counterSection----------- */
.counterSection h2{
    font-size: 26px;
    font-weight: 700;
    color: #2699FB;
    text-align: center;
}
.counterSection p{
    font-size: 14px;
    text-align: center;
}

/* --------------highlightSection------------ */
.highlightSection, .learnSection, .accordionSection{
    background-color: #F7FAFF;
}
.highlightSection h2{
    color: #0A2134;
    font-size: 30px;
    font-weight: 700;
}
.highlightSection p{
    font-size: 15px;
}
.highlightItems h4{
    font-size: 18px;
    font-weight: 600;
}
.highlightItems p, .learnItems p{
    font-size: 15px;
}
.highlightSection button, .learnSection button{
    width: 20%;
    margin:30px auto 0;
    border: none;
    border-radius: 5px;
    background:  linear-gradient(to right,#0ACEFE,#2699FB);
    padding: 10px;
    color: #fff;
    
}
/* -------------career option----------- */

.careerSection h2, .learnSection h2, .studenSection h2, .accordionSection h2{
    color: #0A2134;
    font-size: 30px;
    font-weight: 700;
}
.careerSection p, .learnSection p, .studenSection p, .accordionSection p{
    font-size: 15px;
}
.careerItems h4, .learnItems h4{
    font-size: 15px;
}
.careerItems p, .learnItems p{
    font-size: 12px;
}
.careerSection .col{
    width: 270px;
    margin: 30px auto 0px;
}

/* ----------------certificate section---------- */
.certificateSection{
    background-color: #F7FAFF;
}
.certificateSection .width{
    width: 85%;
}
.certificateSection h2{
    font-size: 30px;
    font-weight: 700;
}
.certificateSection p{
    font-size: 14px;
    margin-bottom: 30px;
}
.certificateItem{
    width: 85%;
}
.certificateItem h4{
    font-size: 16px;
}
.certificateItem p{
    font-size: 12px;

}
.certificateSection button{
    width: 40%;
    margin:30px auto 0;
    border: none;
    border-radius: 5px;
    background:  linear-gradient(to right,#0ACEFE,#2699FB);
    padding: 10px;
    color: #fff;
    
}

/* ---------------tabbingSection---------------- */
.tabbingSection h2{
    font-size: 30px;
    font-weight: 700;
}
.tabbingSection p{
    font-size: 14px;
}
.nav-tabs{
    border: none;
    font-size: 14px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color: #495057;
    border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    /* background-color: #fff; */
    border-bottom: 2px solid #2699FB;
    background-color: #F2F4F7;
    border-radius: 0;
}
.tabbingSection button.btn{
    width: 20%;
    margin:30px auto 0px;
    border: none;
    border-radius: 5px;
    background:  linear-gradient(to right,#0ACEFE,#2699FB);
    padding: 10px;
    color: #fff;
}

/* ------------coverimg------------ */
.coverimg{
    background: url("/Project/images/coverimg.png");
    background-size: cover;
    border-radius: 10px;
    margin: 20px 0;
    padding: 25px;
}
.coverimg h2{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.coverimg p{
    font-size: 15px;
    color: #fff;
}
.coverimg button{
    width: 20%;
    margin: auto;
    border: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}

/* ----------------------accordion---------------- */
.accordion-button::after {
    background-image: url(/Project/images/plus.svg);
    
}
.accordion-button:not(.collapsed)::after {
    background-image: url(/Project/images/minus.svg);
}
.accordion-button {
   border: none;
   outline: none;
   font-size: 15px;
}
.accordion-body{
    font-size: 14px;
}
.accordionSection button.btn{
    width: 20%;
    margin:10px 40%;
    border: none;
    border-radius: 5px;
    background:  linear-gradient(to right,#0ACEFE,#2699FB);
    padding: 10px;
    color: #fff;
}

footer{
    background-color: #0A2540;
}
/* footer img{
   margin:0 30%;
} */
footer p, .copyright{
    color: #F2F4F7;
    font-size: 13px;
}
footer .container-fluid{
    border-bottom: 1px solid white;
}
.line{
    border-bottom: 1px solid #ffffff;
    width: 100%;
    
}